body{
    margin: 0;
}

.menu_under{
    list-style-type: none;
    display: flex;
    margin: 60px 0 0 84px;
    padding: 0;
}

.menu_under li {
    margin: 0 20px 0 20px;
    font-size: 25px;
    color : rgb(71, 68, 68);
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
  cursor: pointer;
  list-style: none;
}

.menu_under li a:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}


.menu_under li a{
    color : rgb(71, 68, 68);
    text-decoration: none;
}


.menu_under li:first-child{
    /* margin-left: 0; */
}

.menu_under li:hover {
    /* opacity: 0.7 */
}

.a {
    margin: auto;
    /* display: flex; */
    width: 90%;
}

.a img {
    width: 100%;
}

.about, .news {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.about span, .news span{
    font-size: 30px;
    margin: 25px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color : rgb(71, 68, 68);
    border-bottom: double 6px rgb(71, 68, 68);
}

.aboutus {
    font-size: 20px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color : rgb(71, 68, 68);
line-height: 3;
text-align: center;

}


.frex {
    margin : 40px 0;
}

.frex ul {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 0;
    width: 90%;
    margin: auto;
}

@media screen and (max-width:767px){
    .frex ul{
        display: initial;
    } 
}


.frex ul li{
    /* height: 200px; */
    width: 32%;
    max-width: 100%;
    /* margin: 40px 20px; */
    list-style: none;
    /* flex: 1; */
    margin-right: 1.5%;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px -4px rgb(220, 213, 213);
}

.frex ul li img {
    width: 100%;
}


@media screen and (max-width:767px){
    .frex ul li {
        height: auto;
        width: 90%;
        max-width: 100%;
        border: solid black 1px;
        margin: 30px auto;
        list-style: none;
        box-shadow: 10px 10px 10px -4px rgb(103, 99, 99);
    }
}


@media screen and (min-width:766px){
    .frex ul li:nth-child(3n) { margin-right: 0;

}
}



/* .frex ul li:nth-child(even) {
    box-shadow: 10px 10px 10px -4px rgb(214, 138, 182);
} */

.middle {
    display: flex;
    height: 500px;
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
}

.middle_first, .middle_second{
    width: 50%;
    height: auto;
    border: solid 1px black;
    
}
.middle_second{
    width: 50%;
    height: auto;
    border: solid 1px black;
    background: rgb(255, 255, 189);
}

.middle_second p
{
    text-align: center;
    font-size: 40px;
    color: green;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    font-weight: bold;
}


/* .middle_under{
    width: 300px;
    height: 200px;
    border : solid 1px black;
}  */


.b {
width: 90%;
margin: auto;
}

.n {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /* width:10%; */
}

.c {
    width: 10%;
    text-align: center;
    
}

.news_container{
    max-width: 90%;
    margin: auto;
}

.news_under{
    display: flex;
    height: 300px;
    background-color: rgb(244, 247, 247);
    border-top: darkblue solid 1px;
}

.news_under div{
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

.news_img {
    text-align: center;
}

.news_img img{
    height: 230px;
    width: auto;
}


.access_container {
    display: flex;
}
.access_under {
    text-align: center;
    margin: 50px auto;
    width: 50%;
}

.access_under span{
    font-size: 30px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color : rgb(71, 68, 68);
    border-bottom: double 6px rgb(71, 68, 68);
}

.access_address{
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    text-align: center;
}

.access_img {
    text-align: center;
    margin: auto;
    margin: auto;
    width: 400px;
}

.access_img img{
    width: 100%;
    height: auto;
}

table{
    border-collapse: collapse;
    border: solid 1px #ccc3c3;
    width: 100%;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color: 
}

tbody{
    max-width: 100%;
    text-align: center;
    color: rgb(71, 68, 68);
}

.time{
    
    text-align: center;
    
}

.time_top {
    margin: 50px auto;
    width: 80%;
}


td{
    border-bottom:#ccc3c3 solid 1px;
}
td:last-child {
    padding: 10px 0;
}
/*table tr:nth-child(odd) td:first-child{
    padding: 30px 0;
}*/

/*table tr:nth-child(odd) td:nth-child(2), 
tr:nth-child(even) td:first-child,
tr:nth-child(odd) td:first-child
{
    padding: 10px 30px;
    text-align: center;
}*/

.time_schedule{
    text-align: center;
    margin: 30px;
}

.time_schedule span{
    font-size: 30px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color: rgb(71, 68, 68);
    border-bottom: double 6px rgb(71, 68, 68);
}


.footer{
    width: 100%;
    height: 300px;
    background-color: burlywood;
    display: flex;
}

.copyright{
    width: 50%;
}

.footer_list{
    width:50%;
}

.aaa{
    height: 100px;
    width: 200px;
    background: -webkit-linear-gradient(left, #e38257, #f2e4cf);
    background: -moz-linear-gradient(left, #0e86d0, #f2e4cf);
    /*background: linear-gradient(to right, #91040c, #f3baa1);*/
}


.js-scroll-fadein {
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
}
.js-scroll-fadein.is-fadein {
          visibility: visible;
          opacity: 1;
        }
  /*--------------------------------
    arrow
  --------------------------------*/
  .arrow{
    position: fixed;
    right: 12px;
    bottom: 12px;
    color: #fff;
    cursor: pointer;
    background-color: #c4c4c4;
    border-radius: 22px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

     .arrow:hover{
          opacity: .8;
          bottom: 15px;
          box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
        }

        .arrow:before,
        .arrow:after {
          content: "";
          width: 12px;
          height: 12px;
          border-top: solid 3px #fff;
          border-right: solid 3px #fff;
          transform: rotate(-45deg);
          position:  absolute;
          left: 14px;
        }

        .arrow:before {
          top: 11px;
        }
        .arrow:after {
          top: 21px;
        }

/*  プルダウンメニュー*/

.sidebar-submenu li {
    font-size: 13px;
	background:none;
}

/* sub menu */

.sidebar-dropdown ul{
    display: none;
    position: absolute; 
    background: #e6c2c2;
    /* opacity: 0.9; */
    padding-left: 0px;
}

.sidebar-dropdown ul li {
    border-bottom: gray 1px solid;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}

.sidebar-dropdown ul li:hover {
    background-color: #cacaca;
    color: #000000;
    cursor: pointer;
}

.left_sidebar li.dark_green_item:hover .sidebar-submenu li a {
	background:none;
	color:black;
	position:relative;
}
.left_sidebar li.dark_green_item:hover .sidebar-submenu li a:before {
	content:none;
}

.chevron::after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    right: 0.15em;
    position: absolute;
    top: calc(50% - 0.45em);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.chevron.chevron-right:after {
	right: 35px;
	transform: rotate(45deg);
}

.sidebar-dropdown.active .chevron:after{
	transform: rotate(135deg);
}

.sidebar-dropdown.active:before {
	/*content:none;*/
}

/*.left_sidebar li.dark_green_item .sidebar-submenu li.light_green_item:hover a, .left_sidebar li.dark_green_item .sidebar-submenu li.light_green_item a.linkActive {
    background: -webkit-linear-gradient(to bottom, #69b020, 50% , #aad84b);
	background: linear-gradient(to bottom, #69b020, 50% , #aad84b);
	color:white;
}*/

.left_sidebar li.dark_green_item .sidebar-submenu li.light_green_item:hover, .left_sidebar li.dark_green_item .sidebar-submenu li.light_green_item a.linkActive {
    background: -webkit-linear-gradient(to bottom, #69b020, 50% , #aad84b);
	background: linear-gradient(to bottom, #69b020, 50% , #aad84b);
	color:white;
}

.sidebar-submenu li {
    font-size: 13px;
	background:none;
}

.sidebar-submenu li a{
    font-size: 13px;
	padding:13px 0 13px 55px;
}
.sidebar-submenu li a:hover:before {
   content:none;
}
.sidebar-submenu li a:before {
   content:none;
}

.footer_list ul li{
    list-style: none;
}