.menu_under{
    list-style-type: none;
    display: flex;
    margin: 60px 0 0 84px;
    padding: 0;
}

.menu_under li {
    margin: 0 20px 0 20px;
    font-size: 25px;
    color : rgb(71, 68, 68);
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
  cursor: pointer;
}


.menu_under li:first-child{
    margin-left: 0;
}

.menu_under li:hover {
    opacity: 0.7
}

.a {
    margin: auto;
    /* display: flex; */
    width: 90%;
}

.a img {
    width: 100%;
}

.about {
   text-align: center; 
   margin-top: 40px;
}

.about span{
    font-size: 30px;
    margin: 25px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color : rgb(71, 68, 68);
    border-bottom: double 6px rgb(71, 68, 68);
}

.aboutus {
    font-size: 20px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color : rgb(71, 68, 68);
line-height: 3;
text-align: center;

}


.frex {
    margin : 40px 0;
}

.frex ul {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 0;
    width: 90%;
    margin: auto;
}

@media screen and (max-width:767px){
    .frex ul{
        display: initial;
    } 
}


.frex ul li{
    /* height: 200px; */
    width: 32%;
    max-width: 100%;
    /* margin: 40px 20px; */
    list-style: none;
    /* flex: 1; */
    margin-right: 1.5%;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px -4px rgb(220, 213, 213);
}

.frex ul li img {
    width: 100%;
}


@media screen and (max-width:767px){
    .frex ul li {
        height: 200px;
        width: 90%;
        max-width: 100%;
        border: solid black 1px;
        margin: 30px auto;
        list-style: none;
        box-shadow: 10px 10px 10px -4px rgb(103, 99, 99);
    }
}


@media screen and (min-width:766px){
    .frex ul li:nth-child(3n) { margin-right: 0;

}
}



/* .frex ul li:nth-child(even) {
    box-shadow: 10px 10px 10px -4px rgb(214, 138, 182);
} */

.middle {
    display: flex;
    height: 300px;
    width: 90%;
    border: solid black 1px;
    max-width: 100%;
    margin: 10px auto;
}

/* .middle_under{
    width: 300px;
    height: 200px;
    border : solid 1px black;
}  */


.b {
width: 90%;
margin: auto;
}

.n {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /* width:10%; */
}

.c {
    width: 10%;
    text-align: center;
    
}

.access_under{
    text-align: center;
    margin: 30px;
}

.access_under span{
    font-size: 30px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color : rgb(71, 68, 68);
    border-bottom: double 6px rgb(71, 68, 68);
}

.access_address{
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    text-align: center;
}

.access_img {
    text-align: center;
    margin: auto;
    margin: auto;
    width: 400px;
}

.access_img img{
    width: 100%;
    height: auto;
}

table{
    border-collapse: collapse;
    border: solid 1px #ccc3c3;
    width: 100%;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color: 
}

tbody{
    max-width: 100%;
    text-align: center;
    color: rgb(71, 68, 68);
}

.time{
    background-color: rgba(130, 239, 4, 0.23);
    text-align: center;
    
}

.time_top {
    margin: 50px auto;
    width: 80%;
}


td{
    border-bottom:#ccc3c3 solid 1px;
}
td:last-child {
    padding: 10px 0;
}
/*table tr:nth-child(odd) td:first-child{
    padding: 30px 0;
}*/

/*table tr:nth-child(odd) td:nth-child(2), 
tr:nth-child(even) td:first-child,
tr:nth-child(odd) td:first-child
{
    padding: 10px 30px;
    text-align: center;
}*/

.time_schedule{
    text-align: center;
    margin: 30px;
}

.time_schedule span{
    font-size: 30px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    color: rgb(71, 68, 68);
    border-bottom: double 6px rgb(71, 68, 68);
}